.contactsTitle {
  margin: 0;
  margin-bottom: 40px;
  font-size: 30px;
  text-transform: uppercase;
  color: rgb(155, 46, 4);
}
.enter {
  transform: translateY(-100%);
  opacity: 0.1;
}
.enterActive {
  transform: translateY(0);
  opacity: 1;
  transition: all 250ms ease-in;
}

.exit {
  transform: translateY(0);
  opacity: 1;
}
.exitActive {
  transform: translateY(-100%);
  opacity: 0.1;
  transition: all 250ms ease-in;
}
